<!-- /////////////////////////////////Header\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
    <div class="social">
			<div id="news">
				<a href="#"><img src="img/news-noir.jpg" title="news" alt="newsletter" target="_blank" ></a>
			</div>
			<div id="google">
                <a href="https://plus.google.com" target="_blank"><%= image_tag("img/google-noir.jpg")%></a>
			</div>
			<div id="twitter">
				<a href="https://twitter.com/?lang=fr" target="_blank"><%= image_tag("img/twitter-noir.jpg")%></a>
			</div>
			<div id="facebook">
				<a href="https://fr-fr.facebook.com/" target="_blank"><%= image_tag("img/facebook-noir.jpg")%></a>
			</div>
    </div>
    <header class="header">
        <%= image_tag("img/logotitre.jpg")%>
	</header>
	
	<div class="menu">
		<ul>
			<div id="accueil-div">
                <li id="accueil"><%= link_to "Accueil", '/' %></li>
			</div> 
			<div id="spectacles-div">
				<li id="spectacles"><%= link_to "Cours", 'cours' %></li>
			</div>
			<div id="troupe-div">
                <li id="troupe"><%= link_to "Leçons", 'lecons' %></li>
			</div>
		</ul>
	</div>

<!-- /////////////////////////////////Slider\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->